@media all and (max-width: 1000px) {
    .service {
      width: 50%;
      margin-bottom: 20px;
    }
    .heading h2 {
      font-size: 10px;
    }
  }
@media all and (max-width: 670px){
    .service{
        width: 100%;
    }
}