*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:"Lucida Grande";
}
.clear{
    clear: left;
}
.services-contents {
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #636e72;
    text-align: center;
  }
  
  .heading {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #ffffff;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .service {
    float: left;
    width: 25%;
  }
  
  .service-icon {
    position: relative;
  }
  
  .service-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: white;
  }
  
